* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   margin: auto;
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.debug *{
    border: 1px solid black;
}

.debug header{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.debug main{
    /*height: 200px;*/
    display: flex;
    flex-direction: column;
}

main{
    background-image: url(../img/firelink-shrine.
    webp);
    height: 100%;
}

.logo{
    height: 3rem;
}

.flex-items{
    flex-direction: column;
    margin: auto;
    padding: 3rem;
}

.main-header{
    padding: 2rem;
    text-align: center;
    
    max-width: 100%;
}

.img-box{
   width: 35%;
}
.img-box img{
    width: 100%;
}

.flex-items-second{
    align-items: center;
    
}

.inline{
    display: inline-block;
    width: 40%;
}

.a-primary{
    width: 40%;
}

.verticle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-late {
    display: flex;
    flex-direction: column;
}

section{
    background-color: red;
}





