* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   margin: auto;
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

.debug *{
    border: 1px solid black;
}

.debug header{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}

.debug main{
    /*height: 200px;*/
    display: flex;
    flex-direction: column;
}

main{
    background-image: url(../img/firelink-shrine.
    webp);
    height: 100%;
}

img{
    height: 3rem;
}

.flex-items{
    flex-direction: column;
    margin: auto;
    padding: 3rem;
}

p{
    padding: 2rem;
    text-align: center;
    max-width: 70%;
}





