* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1080px;
    font: sans-serif;
}


.container {
   margin: auto;
   width: 80%;
   padding: 20px;
   background-color: bisque;
}

.d-flex-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgb(170, 9, 250);
}

.d-flex {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: rgb(7, 207, 80);
}

.debug *{
    border: 1px solid black;
}

.debug header{
    background-color: aquamarine;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    
}

button{
    background-color: brown;
    height: 20px;
    width: 100px;
}

.debug main{
    height: 200px;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}

.logo{
    height: 3rem;
}

.flex-items{
    text-align: center;
    padding: 3rem;
}

.main-header{
    padding: 2rem;
    text-align: center;
    max-width: 100%;
}

/* img */

.img-box{
   height: 180px;
   background-color: blue;
   margin: 0px 20px 0px 0px;
   width: 60%;
}

.img-box-central{
    width: 60%;
    height: 180px;
    margin: 0px 0px 0px 20px;
    background-color: blue;
}

.img-box img{
    margin: 0px 20px 0px 0px;
    background-color: rgb(0, 0, 0);
    
}

.base-img{
    background-color: blue;
    height: 200px;
    width: 100%;
    justify-content: center;

}

.flex-items-second{
       width: 100%;
}

.a-primary{
    margin-right: 20px;
}

.left-late {
    display: flex;
    flex-direction: column;
}

section{
    background-color: red;
    padding: 20px;
}

.divide{
    margin: 0 20px 0 0;
}

.down-sect {
    padding: 1rem;
    text-align: center;
    max-width: 100%;
}

.h-main{
    padding: 0px;
}

h1{
    height: 50px;
    width: auto;
    background-color: blueviolet;
}

.debug p{
    background-color: rgb(157, 86, 0);
    height: 130px;
}

.t-width{
    width: 40%;
    height: 180px;
}


